body{
    background: #d2d2c1 url('imagem/fundo.png') ;
    font: 16px Arial, Helvetica, sans-serif;
}

#principal{
    width: 900px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

#menu{
    width: 900px;
    height: 50px;
    background: #c5c5b2;
    color: #fff;
    text-align: center;
    line-height: 50px;
    margin-top: 10px;
}

#contenudo{
    width: 900px;
    min-height: 400px;
    background: #e8e8d9;
    padding: 10px;
    box-sizing: border-box;
}

a{
    color: #4b566a;
    text-decoration: none;
    padding: 10px 15px;
    font-weight: bold;
}

.centralizar{
    text-align: center;
}

.img-campanha {
    border: 10px solid #c3c3ae;
}

h1{
    color: #828271;
    font-size: 1.2em;
    text-align: center;
}